.btn {
 @apply bg-white text-primary rounded-md px-4 py-2
}

.bghome {
 background: radial-gradient(50% 50% at 50% 50%, #1B436B 47.66%, rgba(24, 63, 102, 0) 100%);
}
.overflow-x-auto::-webkit-scrollbar {
 display: none;
}
.overflow-y-auto::-webkit-scrollbar {
 display: none;
}
/* Clase personalizada para ocultar la barra de desplazamiento horizontal */
.overflow-x-auto-no-scrollbar::-webkit-scrollbar {
 display: none;
}

/* Clase personalizada para ocultar la barra de desplazamiento vertical */
.overflow-y-auto-no-scrollbar::-webkit-scrollbar {
 display: none;
}

.cardbg {
 box-sizing: border-box;
 position: absolute;
 width: 312px;
 height: 228px;
 left: 50%;
 top: 50%;
 transform: translateX(-50%) translateY(-50%);
 background: #CFE2F3;
 border: 1px solid rgba(0, 0, 0, 0.5);
}